<div class="col-md-4 mb-4">
  <h5 class="d-inline">Your Activity</h5>
  <hr />
  <div id="sidebar">
    <div class="row">
      <div class="col-4">
        <img
          src="<%= currentUser.avatar %>"
          class="avatar"
          alt="<%= currentUser.username %>"
        />
      </div>
      <div class="col">
        <h5><%= currentUser.username %></h5>
        <p><%= currentUser.bio %></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fas fa-heart"></i> <%= currentUser.karma %> karma
          </li>
          <li class="list-group-item">
            <i class="fas fa-sticky-note"></i> <%= currentUser.posts.length %>
            posts
          </li>
          <li class="list-group-item">
            <i class="fas fa-comment"></i> <%= currentUser.comments.length %>
            comments
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
