<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<div id="main" class="container">
  <div class="row">
    <%-include('./partials/sidebar') %>

    <div id="community-list" class="col">
      <h5 class="d-inline">Your Communities</h5>
      <a class="btn btn-community" href="communities/new">Start a Community</a>
      <hr />
      <% if (currentUser.communities.length === 0) { %>
      <p>You are not a member of any communities.</p>
      <p>
        <a href="/communities/new">Start your own</a> or
        <a href="/communities">find an existing</a> community.
      </p>
      <% } else { %> <% currentUser.communities.forEach(community => { %>
      <div class="card">
        <div class="card-header">
          <a href="communities/<%= community._id %>">
            <strong><%= community.name %></strong>
          </a>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= community.description.substring(0, 100) %>...
          </p>
        </div>
      </div>
      <div class="tag-list">
        <span class="badge badge-primary">Primary</span>
        <span class="badge badge-secondary">Secondary</span>
        <span class="badge badge-success">Success</span>
      </div>
      <% }) %> <% } %>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
