<%- include('../partials/header') %> <%- include('../partials/navbar') %>
<div id="main" class="container">
  <div class="row">
    <%-include('../partials/sidebar') %>

    <div id="community-list" class="col">
      <h5 class="d-inline">Communities</h5>
      <a class="btn btn-community" href="communities/new">Start a Community</a>
      <hr />
      <% communities.forEach(community => { if (!community.isPrivate) { %>
      <div class="card">
        <div class="card-header">
          <a href="communities/<%= community._id %>">
            <%= community.name %>
          </a>
        </div>
        <div class="card-body">
          <p class="card-text">
            <% if (community.description.length > 200) { %> <%=
            community.description.substring(0, 200) %>... <% } else { %> <%=
            community.description %> <% } %>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Tags here?</small>
        </div>
      </div>
      <% }}); %>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
