<%- include('../partials/header') %> <%- include('../partials/sidebar') %>

<div id="post-list" class="col">
  <h1><%= community.name %></h1>
  <% if (community.posts.length <= 0) { %>
  <p>There is nothing here.</p>
  <% } else { %> <% community.posts.forEach(post => { %>
  <div class="card mb-1">
    <div class="row no-gutters align-items-center">
      <div class="col-2">
        <div class="row justify-content-center">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Solid_blue.svg/225px-Solid_blue.svg.png"
            class="card-img"
            alt="..."
          />
        </div>
      </div>
      <div class="col">
        <div class="card-body">
          <a href="/communities/<%= community._id %>/posts/<%= post._id %>">
            <h5 class="card-title"><%= post.title %></h5>
          </a>
          <p class="card-text"><%= post.body %></p>
          <p class="card-text">
            <small class="text-muted"
              >Posted by <%= post.author %> | <%= post.likes %> <%=
              post.dislikes %> | Last updated 3 mins ago</small
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <% }); %> <% } %>
  <a href="/communities/<%= community._id %>/posts/new" class="btn btn-primary"
    >Create Post</a
  >
</div>
