<%- include('../partials/header') %> <%- include('../partials/navbar') %>
<div id="main" class="container">
  <div class="row">
    <%- include('../partials/sidebarCommunity') %>
    <div id="post-list" class="col">
      <h5 class="d-inline">Posts</h5>
      <a
        href="/communities/<%= community._id %>/posts/new"
        class="btn btn-community"
      >
        Create a Post
      </a>
      <hr />
      <% if (community.posts.length === 0) { %>
      <p>There is nothing here.</p>
      <% } else { community.posts.forEach(post => { %>
      <div class="card">
        <div class="row">
          <div class="col">
            <div class="card-header">
              <a href="/communities/<%= community._id %>/posts/<%= post._id %>">
                <strong><%= post.title %></strong>
              </a>
            </div>
            <div class="card-body">
              <div class="card-text">
                <small class="text-muted">
                  Posted X hours ago by
                  <a href="/user/<%= post.author.id %>"
                    ><%= post.author.username %></a
                  >
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="post-info">
        <small>
          <i class="fas fa-comment"></i> <%= post.replies.length %>
          <i class="fas fa-heart"></i> <%= post.likes %>
        </small>
      </div>
      <% }); }%>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
