<%- include('../partials/header') %> <%- include('../partials/navbar') %>
<div id="main" class="container">
  <div class="row">
    <%-include('../partials/sidebarCommunity') %>

    <div id="post-list" class="col">
      <h5 class="d-inline">Posts</h5>
      <a
        href="/communities/<%= community._id %>/posts/new"
        class="btn btn-community"
      >
        Create a Post
      </a>
      <hr />
      <% if (community.posts.length <= 0) { %>
      <p>There is nothing here.</p>
      <% } else { %> <% community.posts.forEach(post => { %>
      <div class="card mb-1">
        <div class="row align-items-center">
          <div class="col">
            <div class="card-body">
              <a href="/communities/<%= community._id %>/posts/<%= post._id %>">
                <h5 class="card-title"><%= post.title %></h5>
              </a>
              <p class="card-text"><%= post.body %></p>
              <p class="card-text">
                <small class="text-muted">
                  Posted by
                  <a href="/user/<%= post.author.id %>"
                    ><%= post.author.username %></a
                  >| <%= post.likes %> <%= post.dislikes %> | Last updated 3
                  mins ago
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% }); %> <% } %>
    </div>
  </div>
</div>
