<%- include('../partials/header') %> <%- include('../partials/navbar') %>
<div id="main" class="container">
  <div class="row">
    <%-include('../partials/sidebarCommunity') %>

    <div id="post-list" class="col">
      <h5 class="d-inline"><%= post.title %></h5>
      <hr />

      <div class="card">
        <div class="card-header">
          <img class="avatar-post" src="<%= post.author.avatar %>" />
          <a href="/user/<%= post.author.id %>"><%= post.author.username %></a>

          <% if (currentUser._id.equals(post.author.id)) { %>
          <div class="dropdown">
            <a
              href="#"
              role="button"
              id="dropdownPost"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownPost">
              <a
                class="dropdown-item"
                href="/communities/<%= community._id %>/posts/<%= post._id %>/edit"
              >
                Edit Post
              </a>
              <form
                class="action-form"
                action="/communities/<%= community._id %>/posts/<%= post._id %>?_method=DELETE"
                method="POST"
              >
                <button class="dropdown-item">Delete Post</button>
              </form>
            </div>
          </div>
          <% } %>
        </div>

        <div class="card-body">
          <p class="card-text">
            <%= post.body %>
          </p>
        </div>
        <div class="card-footer">
          Last updated 3 mins ago <%= post.likes %> likes <%= post.dislikes %>
          dislikes
        </div>
      </div>

      <h5>Replies</h5>
      <hr />
      <form
        action="/communities/<%= community._id %>/posts/<%= post._id %>"
        method="POST"
      >
        <textarea id="reply" name="comment[body]"></textarea>
        <button class="btn btn-reply">Reply</button>
      </form>

      <% post.replies.forEach(comment => { %>
      <div class="card">
        <div class="card-header">
          <img class="avatar-post" src="<%= post.author.avatar %>" />
          <a href="/user/<%= post.author.id %>"
            ><%= comment.author.username %></a
          >

          <% if (currentUser._id.equals(comment.author.id)) { %>
          <div class="dropdown">
            <a
              href="#"
              role="button"
              id="dropdownPost"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownPost">
              <a
                class="dropdown-item"
                href="/communities/<%= community._id %>/posts/<%= post._id %>/<%= comment._id %>/edit"
              >
                Edit Post
              </a>
              <form
                class="action-form"
                action="/communities/<%= community._id %>/posts/<%= post._id %>/<%= comment._id %>?_method=DELETE"
                method="POST"
              >
                <button class="dropdown-item">Delete Post</button>
              </form>
            </div>
          </div>
          <% } %>
        </div>

        <div class="card-body">
          <p class="card-text">
            <%= comment.body %>
          </p>
        </div>
        <div class="card-footer">
          Last updated 3 mins ago <%= comment.likes %> likes <%=
          comment.dislikes %> dislikes
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
