<%- include('../partials/header') %> 
<%- include('../partials/sidebar') %>

<div id="post-list" class="col">
  <div class="card mb-1">
    <div class="row no-gutters align-items-center">
      <div class="col-2">
        <div class="row justify-content-center">
          <img src="<%= post.image %>" class="card-img" alt="..." />
        </div>
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text">
            <small class="text-muted">
                    Posted by <%= post.author %> | Last updated 3 mins ago
                <p>
                    <%= post.replies.length %> replies | <%= post.likes %> likes | <%= post.dislikes %> dislikes
                </p>
            </small>
          </p>
          <p class="card-text"><%= post.body %></p>

          <a href="/communities/<%= communityId %>/posts/<%= post._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
          <form class="action-form" action="/communities/<%= communityId %>/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <p>
      <h5>Replies</h5>
      <hr>
    <form action="/communities/<%= communityId %>/posts/<%= post._id %>" method="POST">
        <input type="text" name="reply[author]" placeholder="author">
        <input type="text" name="reply[body]" placeholder="body">
        <button class="btn btn-sm btn-primary">Reply</button>
    </form>
  </p>

  <% post.replies.forEach(parent => { %>
    <div class="card mb-1">
        <div class="row no-gutters align-items-center">
          <div class="col-2">
            <div class="row justify-content-center">
              <img src="<%= parent.image %>" class="card-img" alt="..." />
            </div>
          </div>
          <div class="col">
            <div class="card-body">
              <p class="card-text">
                <small class="text-muted">
                        Posted by <%= parent.author %> | <%= parent.likes %> likes | <%= parent.dislikes %> dislikes | Last updated 3 mins ago
                </small>
              </p>
              <p class="card-text"><%= parent.body %></p>
              <form class="action-form" action="/communities/<%= communityId %>/posts/<%= parent._id %>" method="POST">
                <!-- <input type="text" name="reply[author]" placeholder="author">
                <input type="text" name="reply[body]" placeholder="body"> -->
                <button class="btn btn-sm btn-primary">Reply</button>
            </form>
            <a href="#" class="btn btn-sm btn-warning">Edit</a>
            <form class="action-form" action="#" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
</div>
