<%- include('../partials/header') %> <%- include('../partials/navbar') %>
<div id="main" class="container">
  <div class="row">
    <%-include('../partials/sidebarCommunity') %>
    <div id="post-list" class="col">
      <h5 class="d-inline"><%= post.title %></h5>
      <hr />
      <div class="card mb-1">
        <div class="row align-items-center">
          <div class="col">
            <div class="card-body">
              <p class="card-text">
                <small class="text-muted">
                  Posted by
                  <a href="/user/<%= post.author.id %>"
                    ><%= post.author.username %></a
                  >
                  | Last updated 3 mins ago
                  <p>
                    <%= post.replies.length %> replies | <%= post.likes %> likes
                    | <%= post.dislikes %> dislikes
                  </p>
                </small>
              </p>
              <p class="card-text"><%= post.body %></p>
              <% if (currentUser._id.equals(post.author.id)) { %>
              <a
                href="/communities/<%= community._id %>/posts/<%= post._id %>/edit"
                class="btn btn-sm"
                >Edit</a
              >
              <form
                class="action-form"
                action="/communities/<%= community._id %>/posts/<%= post._id %>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-sm">Delete</button>
              </form>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <h5>Replies</h5>
      <hr />
      <form
        action="/communities/<%= community._id %>/posts/<%= post._id %>"
        method="POST"
      >
        <input type="text" name="comment[body]" placeholder="body" />
        <button class="btn btn-sm">Reply</button>
      </form>

      <% post.replies.forEach(comment => { %>
      <div class="card mb-1">
        <div class="row no-gutters align-items-center">
          <div class="col">
            <div class="card-body">
              <p class="card-text">
                <small class="text-muted">
                  Posted by
                  <a href="/user/<%= comment.author.id %>"
                    ><%= comment.author.username %></a
                  >
                  | <%= comment.likes %> likes | <%= comment.dislikes %>
                  dislikes | Last updated 3 mins ago
                </small>
              </p>
              <p class="card-text"><%= comment.body %></p>
              <!--TODO: Include reply form here-->
              <a
                href="/communities/<%= community._id %>/posts/<%= post._id %>/<%= comment._id %>/edit"
                class="btn btn-sm"
                >Edit</a
              >
              <form
                class="action-form"
                action="/communities/<%= community._id %>/posts/<%= post._id %>/<%= comment._id %>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-sm">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>
